
.table-container {
    overflow: auto;
    max-height: 1100px; /* Ajustez la hauteur maximale en fonction de vos besoins */
  }

.statutT{
  border-radius: 10px;
  box-shadow: 5px 5px 2px rgb(237, 237, 213);
  background-color: rgb(89, 242, 83);
  padding: 7px;
  width: 120px;
  font-weight: 600;
}
.statutF{
  border-radius: 10px;
  box-shadow: 5px 5px 2px rgb(237, 237, 213);
  background-color: rgb(238, 98, 70);
  padding: 7px;
  width: 120px;
  font-weight: 600;

}