.styled-table {
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    max-width: 800px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    align-content: center;
}

.styled-table thead tr {
    background-color: black;
    color: deepskyblue;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid white;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: white;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.btnn {
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn2, .btnn{
    color: black;
    border: none;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    margin-left: 60%;
    height: 50px;


}

.btn2, .btnn:hover{
    background-color: green;
    color: white;
}

.btn2:hover{
    color: white;
}
.vendeur-sum{
    display: flex;
    flex-direction: row;
    padding: 1rem;
}
.vendeur-sum:hover{
    background-color: rgb(150, 240, 150);
    border-radius: 20px;
    padding: 1rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}

.tablediv{
    max-height: 300px; /* Remplacez la valeur par la hauteur souhaitée */

  /* Ajoutez une bordure ou des styles supplémentaires si nécessaire */
  border: 1px solid #ccc;

  /* Rendre la div scrollable en ajoutant une barre de défilement si nécessaire */
  overflow-y: auto;
}

.trc{
    width: 20px;
    height: 20px;
    padding: -10px;
}

