
img{
    width: 150px;
    height: 150px;
}

.tete{
    width: 300px;
}

.review{
    margin-top: -5rem;
    margin-left: 5rem; margin-right: 5rem;
    width: 100%;
    height: 100vh;
    padding: 70px 0;
}

.review .heading{
    font-size: 3rem;
}



.review .heading span{
    color: var(--primaryColor);
}


.review h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.review h1 span{
    margin-left: 15px;
    columns: var(--primaryColor);
    
}

.review h1 span ::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--primaryColor);
    position: relative;
    bottom: 15px;
    display: block;

}

.review .review_box{
    width: 100%;
    margin: 70px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.review .review_box>div{
    display: inline-block;
}

.review .review_box .review_card{
    width: 350px;
    height: 350px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
    border-radius: 8px;
    padding: 8px 20px;
    margin:0 8px ;
}

.review .review_box .review_card2{
    width: 100%;
    height: 300px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
    border-radius: 2px;
    padding: 8px 20px;
    margin:0 8px ;
    margin-right: 38%;
    margin-left: 38%;
}

.review .review_box .review_card .review_profile{
    display: flex;
    align-items:center ;
    justify-content: center;
    position: relative;
    transition: 0.3s;

}

.review .review_box .review_card .review_text{
    text-align: center;
}
.review .review_box .review_card2 .review_text{
    text-align: center;
}

.review .review_box .review_card .review_text .name{
    font-size: 25px;
}



.review .review_box .review_card .review_text .review_icon{
    color: var(--primaryColor);
    transition: 0.3s;
    font-size: 20px;
}


.review .review_box .review_card .review_text .review_social .i{
    margin: 5px 1px;
    font-size: 15px;
    opacity: 0;
    cursor: pointer;
    transition: 0.3s;
}



.review .review_box .review_card .review_text p{
    text-align: center;
    line-height: 18px;
    transition: 0.3s;
    font-size: 18px;
}

.review .review_box .review_card .review_text p span, .review_card2 .review_text p span{
    color: var(--primaryColor);
    font-weight: 600;
}

.bigdiv{
    display: flex;
    flex-direction: row;
}

.fruit{
    position: fixed;
    margin-left: 3rem;
    margin-top: 30rem;
    margin-bottom: 30rem;
    padding: 3rem;
    background-color: var(--paleGreen);
    border-radius: 50%;
}

.fruit img{
    width: 15rem;
    height: 15rem;
}

.lien{
    text-decoration: none;
    color: black;
}

.divpla{
    width: 95%;
    margin: 70px;
    display: flex;
    background-color: red;
    flex-wrap: wrap;
    justify-content: space-around;
}

.boutton{
    padding: .5rem;
    background: var(--primaryColor);
    border: none ;
    box-shadow: 2px 2px 8px rgba(161, 230, 147, 0.5);
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
}

.boutton:hover{
    background: var(--second-color-green);
    border: none ;
    font-size: 15px;
    color: white;
}


.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .popup-content h2 {
    margin-top: 0;
    font-size: 25px;

  }
  
  .popup-content button {
    margin-top: 10px;
  }

  .popup-content p{
    font-size: 15px;

  }

  .i{
    margin: 3px 1px;
    font-size: 15px;
    opacity: 1;
    transition: 0.3s;
}